.stock_record  {
    background: #d8d8d8;
}

th, td {
    text-align: center;
}

.input-text {
    width: 40%;
    display: inline;
}

.input-label {
    font-size: 1.2em;
}

.action-btn-aligned {
    position: relative;
    top: 0.6em;
}

.center {
    margin: 0 auto;
}

.resizeable-input-text {
    flex: 0 0 66.666667%;
    max-width: 70%;
}
